@font-face {
    font-family: GT-Walsheim;
    font-weight: 200;
    src: url(fonts/GT-Walsheim-Thin.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Thin.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 300;
    src: url(fonts/GT-Walsheim-Light.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Light.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 400;
    src: url(fonts/GT-Walsheim-Regular.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Regular.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 400;
    font-style: italic;
    src: url(fonts/GT-Walsheim-Regular-Oblique.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Regular-Oblique.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 500;
    src: url(fonts/GT-Walsheim-Medium.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Medium.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 500;
    font-style: italic;
    src: url(fonts/GT-Walsheim-Medium-Oblique.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Medium-Oblique.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 600;
    src: url(fonts/GT-Walsheim-Bold.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Bold.woff) format('woff');
}

@font-face {
    font-family: GT-Walsheim;
    font-weight: 700;
    src: url(fonts/GT-Walsheim-Black.woff2) format('woff2'),
        url(fonts/GT-Walsheim-Black.woff) format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #333 #181818;
    scrollbar-face-color: #181818;
    scrollbar-shadow-color: #333;
    scrollbar-highlight-color: #333;
    scrollbar-3dlight-color: #181818;
    scrollbar-darkshadow-color: #181818;
    scrollbar-track-color: #181818;
    scrollbar-arrow-color: #333;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-track-piece {
    background-color: #181818;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #333;
}

::-webkit-resizer {
    background-color: #333;
}

html {
    font-family: GT-Walsheim, 'Neue Helvetica W02', 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    font-size: 15px;
    letter-spacing: 0.025em;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: black;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    right: 0;
    left: 0;
    top: 0;
    position: relative;
    background-color: #181818;
}

.header__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 0 20px;
}

.header__movie-name {
    margin-right: 4em;
    color: #fff;
    letter-spacing: -0.015em;
    font-weight: 700;
    -webkit-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
    height: 100%;
    line-height: 60px;
}

.header__movie-logo {
    display: inline-block;
    height: 60%;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.header__movie-name:hover {
    opacity: 0.8;
}

@media screen and (max-width: 300px) {
    .header__movie-name__text {
        display: none;
    }
}

.header__nav {
    height: 100%;
}

.header__nav ul {
    list-style-type: none;
}

.header__nav li {
    display: inline-block;
}

.nav__link {
    position: relative;
    display: inline-block;
    color: #fff;
    opacity: 0.6;
    font-weight: 500;
    -webkit-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
    padding: 0 20px;
    height: 100%;
    line-height: 60px;
}

.nav__link:hover,
.nav__link:focus {
    opacity: 1;
}

.nav__link:focus:not(:focus-visible) {
    opacity: 0.6;
}

.nav__link--active::after {
    content: '';
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 0;
    height: 2px;
    background-color: #fff;
}

.menu .nav__link--active::after {
    bottom: 12px;
    left: 16px;
    right: 16px;
}

@media screen and (min-width: 750px) {
    .header__movie-name {
        margin-right: calc(4em - 30px);
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        left: -15px;
    }
}

@media screen and (max-width: 750px) {
    .header__movie-name {
        margin-right: 2em;
    }

    .header .nav__link {
        padding: 0 1em;
    }
}

.header__hamburger {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .header__contents {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header__nav {
        display: none;
    }

    .header__hamburger {
        line-height: 2em;
        color: rgb(255, 255, 255);
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 36px;
        height: 36px;
        cursor: pointer;
        will-change: transform;
        place-items: center;
        place-content: center;
        border-radius: 50%;
        overflow: hidden;
        outline: none;
    }

    .header__hamburger:focus,
    .header__hamburger:hover {
        opacity: 0.8;
    }

    .header__hamburger::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0.8;
        -webkit-transition: opacity 0.2s ease 0s;
        -o-transition: opacity 0.2s ease 0s;
        transition: opacity 0.2s ease 0s;
        fill: #fff;
        background-color: #fff;
        opacity: 0.16;
    }

    .header__hamburger__svg {
        position: relative;
        width: 20px;
        cursor: pointer;
        z-index: 2;
        opacity: 0.5;
        -webkit-transition: opacity 0.2s ease 0s;
        -o-transition: opacity 0.2s ease 0s;
        transition: opacity 0.2s ease 0s;
    }

    .header__hamburger g {
        -webkit-transition: -webkit-transform 0.2s ease 0s;
        transition: -webkit-transform 0.2s ease 0s;
        -o-transition: transform 0.2s ease 0s;
        transition: transform 0.2s ease 0s;
        transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    }

    .header__hamburger--open g {
        -webkit-transform: translateX(1.8px);
        -ms-transform: translateX(1.8px);
        transform: translateX(1.8px);
        -webkit-transition: -webkit-transform 0.2s ease 0.1s;
        transition: -webkit-transform 0.2s ease 0.1s;
        -o-transition: transform 0.2s ease 0.1s;
        transition: transform 0.2s ease 0.1s;
        transition: transform 0.2s ease 0.1s, -webkit-transform 0.2s ease 0.1s;
    }

    .header__hamburger path {
        -webkit-transition: opacity 0.2s ease 0.1s,
            -webkit-transform 0.2s ease 0s;
        transition: opacity 0.2s ease 0.1s, -webkit-transform 0.2s ease 0s;
        -o-transition: transform 0.2s ease 0s, opacity 0.2s ease 0.1s;
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0.1s;
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0.1s,
            -webkit-transform 0.2s ease 0s;
    }

    .header__hamburger--open path {
        -webkit-transition: opacity 0.2s ease 0s,
            -webkit-transform 0.2s ease 0.1s;
        transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0.1s;
        -o-transition: transform 0.2s ease 0.1s, opacity 0.2s ease 0s;
        transition: transform 0.2s ease 0.1s, opacity 0.2s ease 0s;
        transition: transform 0.2s ease 0.1s, opacity 0.2s ease 0s,
            -webkit-transform 0.2s ease 0.1s;
    }

    .header__hamburger path:first-child {
        -webkit-transform: translateX(4px) translateY(5px);
        -ms-transform: translateX(4px) translateY(5px);
        transform: translateX(4px) translateY(5px);
    }

    .header__hamburger--open path:first-child {
        -webkit-transform: translateX(4px) translateY(5.75px) rotate(45deg);
        -ms-transform: translateX(4px) translateY(5.75px) rotate(45deg);
        transform: translateX(4px) translateY(5.75px) rotate(45deg);
    }

    .header__hamburger path:nth-child(2) {
        -webkit-transform: translateX(4px) translateY(10px);
        -ms-transform: translateX(4px) translateY(10px);
        transform: translateX(4px) translateY(10px);
    }

    .header__hamburger--open path:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger path:last-child {
        -webkit-transform: translateX(4px) translateY(15px);
        -ms-transform: translateX(4px) translateY(15px);
        transform: translateX(4px) translateY(15px);
    }

    .header__hamburger--open path:last-child {
        -webkit-transform: translateX(4px) translateY(14.25px) rotate(-45deg);
        -ms-transform: translateX(4px) translateY(14.25px) rotate(-45deg);
        transform: translateX(4px) translateY(14.25px) rotate(-45deg);
    }

    .menu * {
        width: 100%;
    }

    .menu--open {
        display: block;
    }

    .menu--open ~ .content {
        display: none;
    }
}

.content {
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #fff;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    word-wrap: break-word;
}

.content__inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 20px;
    color: #fff;
}

.content strong {
    font-weight: inherit;
    font-weight: bolder;
    font-weight: 600;
}

.content a {
    color: #0366d6;
    text-decoration: none;
    background-color: initial;
}

.content a:hover {
    text-decoration: underline;
}

.content a:active,
.content a:hover {
    outline-width: 0;
}

.content h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

.content h2 {
    font-size: 1.5em;
}

.content h1,
.content h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

.content p {
    margin-top: 0;
    margin-bottom: 10px;
}

.content dd {
    margin-left: 0;
}

.content dl {
    padding: 0;
}

.content dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.content > :first-child {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.content > :last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.content img {
    border-style: none;
}

.content dl,
.content p,
.content table {
    margin-top: 0;
    margin-bottom: 16px;
}

.content table {
    display: block;
    width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    border-spacing: 0;
    border-collapse: collapse;
}

.content table th {
    font-weight: 600;
}

.content table td,
.content table th {
    padding: 6px 13px;
    border: 1px solid #201d1a;
}

.content table tr {
    background-color: #000;
    border-top: 1px solid #39342e;
}

.content table tr:nth-child(2n) {
    background-color: #090705;
}
